<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AssetNameKey</key>
		<string>Basic Stream</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>https://stream4.cctv.org:443/live/_definst_/mp4:cctv317.stream/playlist.m3u8</string>
	</dict>
</array>
</plist>
